header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 8px 20px;
  margin: 0 auto;
  background-color: #0067A3;  
}

.header__title {
   margin: 0;
   color: white;

   font-family: "Roboto-Regular";
   font-weight: 400;
   font-size: 28px;
   line-height: 33px;
}

.header__title:hover {
  border-bottom: 1px solid #0b99d3;
}

@media screen and (max-width: 375px) {

header {
width: 100%;
justify-content: end;
padding: 8px 30px;
background-color: #0079BF;
}

.header__title {
display: none;}
}